h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-top: 4%;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 530;
    font-size: 20px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: regular;
    font-size: 14px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: gold;
  }

.serifJPDiv {
    width: 512px;
    margin: 20px;
    float: left;
}

.NotoSerifJP {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    text-decoration: underline;
}

.NotoSerifJPStd {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
}

.NotoSerifJPBold {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.NotoSerifJPIta {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-style: italic;
}

.robotoDiv {
    margin: 20px;
    width: 400px;
    float: left;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-decoration: underline;
}

.RobotoStd {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.RobotoBold {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.RobotoIta {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
}

.sansKRDiv {
    width: 300px;
    margin: 20px;
    float: left;
}

.NotoSansKR {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    text-decoration: underline;
}

.NotoSansKRStd {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
}

.NotoSansKRBold {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.NotoSansKRIta {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-style: italic;
}

.navBarMain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;  
}

li {
    float: left;
}

li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0468aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0468aa;
    color: white;
    text-align: center;
}