.header1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.header2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 530;
    font-size: 20px;
}

.paragrafo {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: regular;
    font-size: 14px;
}

ul li::marker {
    color: black;
}

.navBarMain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;  
}

li.item {
    float: left;
}

li.item a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.item a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0468aa;
}